
{% extends 'base_layout2.html' %}
{% load static %}


{% block content %}

<div class="container mb2">

   <div class="row pt-4">
     <div class="col-md-12">
      {% for item in authors %}
      <div class="col-md-4" style="float:left;" >
            <div class="card mt-2" >
                <img class="card-img-top"  src="{{item.pic.url}}" width="100%" height="250px;">
                <div class="card-body pb-3">
                    <table>
                        <tr>
                            <td>
                              Name:
                            </td>
                            <td>
                              {{item.name}}
                            </td>
                        </tr>


                          <tr>
                            <td>
                              Total likes
                            </td>
                            <td>
                                {{item.likes}}
                            </td>
                        </tr>





                    </table>

                </div>

 </div>
 </div>
 {% endfor %}

      </div>

   </div>
</div>


{% endblock %}
