{% extends 'base_layout2.html' %}
{% load static %}


{% block content %}

<div class="container mb">


    <div class="row pt-4">

        {% for story in favourites %}


        {% if story.stype == 0 or story.stype == 1 %}
        <div class="col-md-4" style="float:left;">
            <div class="card mt-2">
                <img class="card-img-top" src="{{story.blog_story.pic.url}}" width="100%" height="250px;">
                <div class="card-body pb-3">
                    <table>
                        <tr>
                            <div style="height:63px;">
                                <a href="{% url 'Story_Detail_Page' story.id%}">{{story.title|title}}</a>
                            </div>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {{story.blog_story.description|truncatewords:8|title}}
                            </td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{story.user.get_full_name}}</td>
                        </tr>
                        <tr>
                            <td>Created on</td>
                            <td>{{story.created}}</td>
                        </tr>
                        <tr>
                            <td>Story Type</td>
                            <td>
                                {% if story.stype == 0 %}
                                <span class="badge badge-success">Event</span>
                                {% elif story.stype == 1 %}
                                <span class="badge badge-info">Blog</span>
                                {% elif story.stype == 2 %}
                                <span class="badge badge-warning">Image Gallery</span>
                                {% endif %}
                            </td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
        {% else %}
        <div class="col-md-4" style="float:left;">
            <div class="card mt-2">

                <img src="{{story.image_story.first.file.url}}" width="100%" height="250px">


                <div class="card-body pb-3">
                    <table>
                        <tr><a href="{% url 'Story_Detail_Page' story.id %}">{{story.title|title}}</a></tr>


                        <tr>
                            <td colspan="2">
                                {{story.image_story.first.description | truncatewords:4|title}}
                            </td>
                        </tr>

                        <tr>
                            <div style="height:65px;" class="crimson pt-2">
                                No.of Pics : {{ story.image_story.all.count }}
                            </div>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>{{story.user.get_full_name}}</td>
                        </tr>
                        <tr>
                            <td>Created on</td>
                            <td>{{story.created}}</td>
                        </tr>
                        <tr>
                            <td>Story Type</td>
                            <td>
                                {% if story.stype == 0 %}
                                <span class="badge badge-success">Event</span>
                                {% elif story.stype == 1 %}
                                <span class="badge badge-info">Blog</span>
                                {% elif story.stype == 2 %}
                                <span class="badge badge-warning">Image Gallery</span>
                                {% endif %}
                            </td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
        {% endif %}


        {% endfor %}

    </div>

    <div class="row pt-4">

        <div class="col-md-4"></div>
        <div class="col-md-4">

            {% if is_paginated %}
            <nav aria-label="Page navigation example"></nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
                    PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT
                    &raquo;</a></li>

                {% endif %}
            </ul>
            </nav>
        </div>
        {% endif %}


    </div>
    <div class="col-md-4"></div>
</div>


</div>


{% endblock %}
